<!DOCTYPE html>
<html>
<head>
  <title>TestApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= shieldsquare_userid = "" # Enter the UserID of the user
     shieldsquare_calltype = 1
     shieldsquare_pid = ""
     @shieldsquare_response = Ss2.shieldsquare_ValidateRequest(shieldsquare_userid, shieldsquare_calltype, shieldsquare_pid, request, cookies) %>
</body>
</html>
